.popup-container {
    position: relative;
    width: 200px;
    height: 200px;
  }
  
  .popup {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
  
  .popup-container:hover .popup {
    opacity: 1;
    visibility: visible;
  }
  
  .popup-container:not(:hover) .popup {
    opacity: 0;
    visibility: hidden;
  }