$ColorBreadCrumbs: #f8f3f4;
$ColorSelectSite: #f16d7f;
$widthContentCenter: 1140px;
$site_Font:Lato;
$gapProduct: 30px;
$ColorTextHeading: #000;
$widthFilterContent:calc(($widthContentCenter - ($gapProduct * 2)) / 3);
$ColorText:#6F6E6E;