@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.body {
  font-family: "Lato", sans-serif;
}

.max_content {
  position: relative;
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #222;
}
.top_left {
  text-align: center;
  display: flex;
  gap: 41px;
  flex-wrap: wrap;
  align-content: center;
  align-items: baseline;
}
.top_menu_rigth {
  display: flex;
  gap: 33px;
  align-items: center;
}
.top_menu_rigth_header__checkbox {
  display: none;
}
.top_menu_rigth_menu_block {
  position: absolute;
  top: 70px;
  right: -242px;
  min-width: 232px;
  background-color: #f1f1f1;
  transition: right 0.3s ease-in-out;
  padding-top: 32px;
  padding-bottom: 32px;
  box-shadow: 0 0 10px rgba(153, 48, 48, 0.5);
  opacity: 1;
  /* Параметры тени */
}
#toggle:checked ~ .top_menu_rigth_menu_block {
  right: 0;
}
.top_menu_rigth_menu_block_h5 {
  padding-left: 33px;
  padding-bottom: 24px;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
}
.top_menu_rigth_menu_block_h6 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 12px;
  padding-left: 32px;
}
.top_menu_rigth_menu_block_link {
  text-decoration: none;
  padding-left: 53px;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}
.top_menu_rigth_menu_block_link:hover {
  color: #f76e81;
}
.top_menu_rigth_menu_block li {
  list-style-type: none;
  padding-bottom: 11px;
}
.top_head_continuation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #f8f3f4;
}
.top_head_continuation_heading {
  color: #f16d7f;
  font-family: Lato;
  font-size: 24px;
  font-weight: 400;
}
.top_head_continuation_bread_crumbs_link {
  text-decoration: none;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
}
.top_head_continuation_bread_crumbs_lin_style {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
}

.filter-sort {
  display: flex;
  padding-top: 39px;
  height: 132px;
  position: relative;
  gap: 30px;
}

.filter {
  background-color: #fff;
  padding-top: 13px;
  box-sizing: border-box;
  width: 360px;
}
.filter_content {
  width: 360px;
  position: absolute;
  background-color: #fff;
  padding: 0px 16px 16px;
}
.filter[open] {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter_head {
  color: #f16d7f;
}
.filter[open] path {
  fill: #f16d7f;
}
.filter_summary {
  display: flex;
  align-items: center;
  gap: 11px;
}
.filter_head {
  padding-left: 11px;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
}
.filter_item {
  padding-top: 16px;
}
.filter_heading {
  padding: 11px;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #f16d7f;
}
.filter_item[open] .filter_heading {
  color: #f16d7f;
}
.filter_link-box {
  padding: 11px;
  display: flex;
  flex-direction: column;
  gap: 11px;
}
.filter_link {
  text-decoration: none;
  color: #6F6E6E;
  font-family: site_Font;
  font-size: 14px;
  font-weight: 400;
}
.filter_link:hover {
  color: #f16d7f;
}

.sort {
  padding-top: 12px;
  display: flex;
  left: 490px;
  gap: 30px;
}
.sort_details {
  position: relative;
}
.sort_summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort_check {
  display: flex;
  gap: 9px;
  align-items: center;
  color: #6F6E6E;
  font-family: Roboto;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort_box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  left: -9px;
  top: 20px;
  padding: 7px 30px 11px 9px;
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.sort_heading {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.main_slider_img {
  height: 777px;
  background-color: #f7f7f7;
}
.main_slider_img_women {
  display: block;
  margin: auto;
}
.main_content {
  border: 1px solid #eaeaea;
  width: 71.25%;
  height: 601px;
  margin: auto;
  text-align: center;
}
.main_content_heading {
  margin: auto;
  padding-top: 64px;
  padding-bottom: 20px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  height: 17.144px;
}
.main_content_subjec {
  margin: auto;
  padding-top: 12px;
  width: 253px;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 18px;
  font-weight: 300;
}
.main_content_text {
  margin: auto;
  padding-top: 49px;
  width: 550px;
  color: #6F6E6E;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 32px;
}
.main_content_price {
  margin: auto;
  color: #f16d7f;
  padding-bottom: 45px;
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
}
.main_content_butoom_Cart {
  width: 212px;
  height: 48px;
  border: 1px solid #f16d7f;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  align-items: center;
  padding-left: 24px;
  margin-bottom: 64px;
}
.main_content_butoom_Cart_name {
  padding-left: 22px;
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.main_content_butoom_Cart:active {
  background-color: #ffcbd5;
}
.main_content .main_nav_menu {
  padding-top: 64px;
  padding-bottom: 48px;
  display: flex;
  gap: 22px;
  justify-content: center;
}
.main_content .main_nav_menu .main_nav_menu_link {
  text-decoration: none;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 90px;
}

ul {
  list-style-type: none;
  color: #c4c4c4;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.page {
  width: 283.995px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #ebebeb;
  gap: 18px;
}
.page__numbers:hover {
  color: #f16d7f;
}
.page__numbers.active {
  color: #f16d7f;
}
.page__btn__svg {
  fill: #000;
}
.page__btn__svg:hover {
  fill: #f16d7f;
  /* fill:rgb(ColorSelectSite); */
}

.info_content_product {
  gap: 30px;
  grid-template-columns: repeat(3, 360px);
  display: grid;
  justify-content: center;
  margin-bottom: 60px;
}
.info_content_product_items:hover {
  outline: 3px solid #ffd901;
  outline-offset: -3px;
  transform: scale(1.1);
  z-index: 1;
  transition: transform 0.5s;
}
.info_content_product_name {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
}
.info_content_product_text {
  color: #6F6E6E;
  padding-top: 16px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
}
.info_content_product_price {
  color: #f16d7f;
  padding-top: 16px;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.info_content_product_padding {
  padding: 24px 16px;
}

.footer_mid_content {
  display: flex;
  gap: 223px;
  background-image: url("img/footer_photo subscribe.jpg");
  width: 100%;
  min-height: 448px;
  background-size: no-repeat;
  background-position: center;
  background-size: cover;
  justify-content: center;
}
.footer_mid_content_left {
  padding-top: 97px;
  text-align: center;
}
.footer_mid_content_left_text {
  width: 359.449px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 30px;
  margin: auto;
}
.footer_mid_content_left_text_ending {
  font-style: italic;
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}
.footer_mid_content_right {
  padding-top: 150px;
}
.footer_mid_content_right_headblock {
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}
.footer_mid_content_right_headblock span {
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
}
.footer_mid_content_right_input_email .form-wrapper {
  display: flex;
  padding-top: 36px;
}
.footer_mid_content_right_input_email .form-wrapper_entry_field {
  max-width: 256px;
  height: 49px;
  padding-left: 7%;
  border-radius: 20px 0 0 20px;
  background-color: #e1e1e1;
  border: none;
  flex: 1;
}
.footer_mid_content_right_input_email .form-wrapper_entry_field:focus {
  border: 1px solid #f16d7f;
}
.footer_mid_content .buttom_input {
  border-radius: 0 20px 20px 0;
  height: 49px;
  background-color: #f16d7f;
  border: none;
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
}
.footer_mid_content .buttom_input .text {
  padding: 9px;
  display: flex;
  width: 85px;
  height: 36px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
}
.footer_mid .buttom_input:hover {
  background-image: radial-gradient(ellipse farthest-corner at 50% 50%, #f16d7f, #44f16a);
}
.footer_mid_bottom {
  padding: 0 14% 0 14%;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 79px;
  background-color: #222;
}
.footer_mid_bottom_left {
  padding-top: 30px;
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.footer_mid_bottom_right {
  padding: 24px;
}

input {
  border: none;
}

@media screen and (max-width: 1024px) {
  .info_content_product {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
  }
  .center {
    padding-left: calc(50% - 384px);
    padding-right: calc(50% - 376px);
  }
  .info_content_product_items:nth-child(9) {
    display: none;
  }
  .top_left {
    padding-left: 32px;
  }
  .top_menu_rigth {
    padding-right: 32px;
  }
  .filter-sort {
    justify-content: space-between;
  }
  .footer_mid_content {
    display: block;
  }
  .footer_mid_content_right {
    padding: 48px;
  }
  .form-wrapper {
    justify-content: center;
  }
  .social_network:nth-child(3) {
    display: none;
  }
  .social_network:nth-child(4) {
    display: none;
  }
  .footer_mid_bottom {
    padding: 0px 32px 0px 32px;
  }
}/*# sourceMappingURL=stile_head.css.map */