*{
    padding: 0;
    margin: 0;
}
.top{
    padding-bottom: 99px;
}

.header{
    padding-top: 39px;
    padding-bottom: 39px;

}
.top_content{
    margin-top: 160px;
    margin-bottom: 197px;
}
.titel{
    margin-top: 10px;
    margin-bottom: 40px;
}
.top_button{
    margin-top: 50px;
}
