@mixin styleBox {
  background: #fff;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

@mixin stailTexFields {
  border: 1px solid #A4A4A4;
  width: 358.986px;
  height: 44px;
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding-left: 16px;
  &:focus {
    /* Преображение при наведении */
    border: 1px solid #ee6060;
}

}

@mixin mainRightContent{
  padding-bottom: 21px;
  color: #000;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
}
