* {
    margin: 0;
    padding: 0;
}
.center {
    padding-left: calc(50% - 1140px / 2);
    padding-right: calc(50% - 1140px / 2);
}

body{
    overflow: hidden;
}
.top {
    display: flex;
    height: 70px;
    justify-content: space-between;
    background-color: #222;
    align-items: center;
    &_left {
        display: flex;
        align-items: end;
        gap: 25px;
    }
    &_right {
        display: flex;
        align-items: center;
        gap: 25px;

        &_hamburger_menu_check {
            display: none;
        }
    }
}


li {
    list-style-type: none;
}

.menu_block {
    position: absolute;
    top: 70px;
    right: -242px;
    min-width: 232px;
    background-color: #f1f1f1;
    transition: right 0.3s ease-in-out;
    padding-top: 32px;
    padding-bottom: 32px;
    box-shadow: 0 0 10px rgba(153, 48, 48, 0.5);
    opacity: 1;
    #hamburger_menu:checked ~ & {
        right: 0;
    }
    &_1{
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding-left: 50px;

    }
    &_heading {
        padding-left: 30px;
        color: #000;
        font-family: Lato;
        font-size: 14px;
        font-weight: 700;
    }
    &_heading_2 {

        padding: 20px 30px 12px 30px;
        color: #f16d7f;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
    }
    &_link {
        text-decoration: none;
        color: #ad1010;
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        &:hover{
            color: #f16d7f;
        }

    }
}

.menu {
    list-style: none;
    &::after {
        content: "\2192";
    }
}
.menu_details {
    &[open] .menu::after {
        content: "\2193";
    }
}
.sort {
    display: flex;
    gap: 30px;
    position: relative;

    &_summary {
        display: flex;
        align-items: center;
        gap: 10px;
        &_box {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background: #fff;
            box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
            padding: 7px 30px 11px 9px;
            position: absolute;
            top: 20px;
            left: 170px;
            &_check {
                display: flex;
                gap: 9px;
            }
        }
    }
}
